@using WebControls
@using BusinessServices.Models
@using Web.Areas.Explorer.Models
@model AirportsNearByModel

<strong>Near By Airports</strong>

<div class="row">
    <div class="col-xs-4">
        <div class="form-control-static">
            @Html.LabelFor(m => m.Latitude)
            @Html.DisplayTextFor(m => m.Latitude)
        </div>
    </div>
    <div class="col-xs-4">
        <div class="form-control-static">
            @Html.LabelFor(m => m.Longitude)
            @Html.DisplayTextFor(m => m.Longitude)
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        @* TODO chuck : even local data should have a PageSize *@
        @(Html.For<AirportNearByDTO>().WebControls().Grid(Model.Airports)
            .Name("NearBy")
            .Caption("Near By Airports")
            .Columns(columns =>
            {
                columns.Bound(m => m.Name);
                columns.Bound(m => m.Icao);
                columns.Bound(m => m.CountryName);
                columns.Bound(m => m.CountryId).Hidden();
                columns.Bound(m => m.AirportId).Hidden();
                columns.Bound(m => m.Distance).Sortable();
            })
            .Width(800)
            .InitialSort(m => m.Distance)
        )
    </div>
</div>